<p><span style="font-size:20px"><strong>Pol&iacute;tica de Privacidade e Prote&ccedil;&atilde;o de Dados</strong></span></p>

<p>A Bico implementa em sua opera&ccedil;&atilde;o, as orienta&ccedil;&otilde;es, normas, controles e a&ccedil;&otilde;es estabelecidas pelas legisla&ccedil;&otilde;es de prote&ccedil;&atilde;o de dados onde atua, em especial a Lei Geral de Prote&ccedil;&atilde;o de Dados - LGPD do Brasil. Esta pol&iacute;tica de privacidade e prote&ccedil;&atilde;o de dados explicar&aacute; como nossa organiza&ccedil;&atilde;o usa os dados pessoais que coletamos de voc&ecirc; quando voc&ecirc; usa nossa plataforma e aplica&ccedil;&otilde;es.</p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>1. Que dados coletamos?</strong></span></p>

<p>Coletamos informa&ccedil;&otilde;es no momento em que voc&ecirc; se registra em nosso site, faz um pagamento, preenche um formul&aacute;rio ou navega no site.</p>

<p>A Bico coleta os seguintes dados:</p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>1.1. Dados que voc&ecirc; nos fornece:</strong></span></p>

<p>Informa&ccedil;&otilde;es de contato e cadastro: nome, endere&ccedil;o de e-mail, endere&ccedil;o de correspond&ecirc;ncia, n&uacute;mero de telefone, nome de usu&aacute;rio da conta, senha;</p>

<p>Identifica&ccedil;&atilde;o e dados demogr&aacute;ficos: CPF, ID, nacionalidade, data de nascimento, dados necess&aacute;rios para processar pagamentos e saques e somente para isso.</p>

<p>Informa&ccedil;&otilde;es transacionais: informa&ccedil;&otilde;es de cart&atilde;o de cr&eacute;dito, dados de conta banc&aacute;ria, outras informa&ccedil;&otilde;es de pagamento (por exemplo, Mercado Pago, Paypal, Payoneer), hist&oacute;rico de pagamentos e hist&oacute;rico de saque;</p>

<p>Conte&uacute;do gerado pelos usu&aacute;rios: fotos, v&iacute;deos, &aacute;udios e outra informa&ccedil;&atilde;o que voc&ecirc; venha nos fornecer, por meio do uso da plataforma Bico;</p>

<p>Pesquisa e feedback: Coment&aacute;rios fornecidos por voc&ecirc;, enquanto usu&aacute;rio da plataforma, por meio de formul&aacute;rios online, e-mail e/ou pesquisas;</p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>1.2. Dados que coletamos automaticamente de voc&ecirc; e/ou do seu dispositivo:</strong></span></p>

<p>Informa&ccedil;&otilde;es de seu dispositivo e identificadores: endere&ccedil;o de IP, tipo de navegador e linguagem, sistema operacional, tipo de plataforma, tipo de dispositivo e identificadores de propaganda e de aplicativo.</p>

<p>Conex&atilde;o e uso: nomes de dom&iacute;nio, hist&oacute;rico de navega&ccedil;&atilde;o, an&uacute;ncios visualizados, formul&aacute;rios ou campos de formul&aacute;rios que voc&ecirc; completar parcial ou integralmente, logs e outras informa&ccedil;&otilde;es similares.</p>

<p>Geolocaliza&ccedil;&atilde;o: Cidade, Estado, Pa&iacute;s, associado ao seu endere&ccedil;o de IP ou derivados de sua triangula&ccedil;&atilde;o wi-fi. Solicitamos sua permiss&atilde;o antes de utilizar sua localiza&ccedil;&atilde;o precisa com base na funcionalidade GPS do seu dispositivo.</p>

<p>&nbsp;</p>

<p><strong>1.3. Informa&ccedil;&otilde;es que coletamos de terceiros</strong></p>

<p>Informa&ccedil;&otilde;es de fontes p&uacute;blicas e comerciais: informa&ccedil;&otilde;es de contato e demogr&aacute;ficas, informa&ccedil;&otilde;es sobre indiv&iacute;duos usando um mesmo dispositivo.</p>

<p>Informa&ccedil;&otilde;es de m&iacute;dia social: intera&ccedil;&otilde;es conosco por meio de um servi&ccedil;o de m&iacute;dia social, ou fazer login usando suas credenciais de sua m&iacute;dia social, poderemos ter acesso a sua informa&ccedil;&atilde;o dessa rede social tais como seu nome e endere&ccedil;o de e-mail;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:14px">1.4. Informa&ccedil;&otilde;es adicionais que coletamos somente para fins comerciais</span></strong></p>

<p>Informa&ccedil;&otilde;es comerciais de contato: nome da empresa, seu nome, endere&ccedil;o de e-mail, cargo ocupado;</p>

<p>Informa&ccedil;&otilde;es de Due Diligence: ID, &agrave;s vezes rede social, informa&ccedil;&atilde;o de contato, nacionalidade, posi&ccedil;&atilde;o ocupada, idade, sexo, data de nascimento, pa&iacute;s de resid&ecirc;ncia.</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:14px">2. Como coletamos seus dados?</span></strong></p>

<p>Voc&ecirc; fornece diretamente &agrave; Bico a maioria dos dados que coletamos. Coletamos dados e processamos dados quando voc&ecirc;:</p>

<p>Registra-se em nossa plataforma ou faz o pagamento e uso de um de nossos servi&ccedil;os;</p>

<p>Preenche voluntariamente uma pesquisa ou fornece informa&ccedil;&otilde;es e feedback por e-mail;</p>

<p>Utiliza ou visualiza a nossa plataforma atrav&eacute;s dos cookies do seu navegador;</p>

<p>A Bico tamb&eacute;m pode receber seus dados indiretamente das seguintes fontes:</p>

<p>Empresas que forne&ccedil;am servi&ccedil;os de anal&iacute;tica;</p>

<p>Empresas que forne&ccedil;am servi&ccedil;os de marketing;</p>

<p>Bases de dados p&uacute;blicas;</p>

<p>Redes de m&iacute;dia sociais;</p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>3. Como usamos seus dados?</strong></span></p>

<p>Qualquer uma das informa&ccedil;&otilde;es que coletamos de voc&ecirc; pode ser usada em uma das seguintes formas:</p>

<p>Para personalizar sua experi&ecirc;ncia</p>

<p>(suas informa&ccedil;&otilde;es nos ajudam a responder melhor &agrave;s suas necessidades individuais);</p>

<p>Para melhorar nosso site: continuamos nos esfor&ccedil;ando para melhorar as ofertas de nosso site, com base nas informa&ccedil;&otilde;es e feedbacks que recebemos de voc&ecirc;;</p>

<p>Para melhorar nosso atendimento ao cliente: suas informa&ccedil;&otilde;es nos ajudam a responder com maior efic&aacute;cia &agrave;s suas solicita&ccedil;&otilde;es de atendimento ao cliente e necessidades de suporte;</p>

<p>Para processar transa&ccedil;&otilde;es: Suas informa&ccedil;&otilde;es, sejam p&uacute;blicas ou privadas, n&atilde;o ser&atilde;o vendidas, trocadas, transferidas ou dadas a qualquer outra empresa por qualquer motivo que seja sem seu consentimento, a n&atilde;o ser com o prop&oacute;sito expresso de entrega de produto adquirido ou servi&ccedil;o solicitado;</p>

<p>Para administrar um concurso, promo&ccedil;&atilde;o, pesquisa ou outra caracter&iacute;stica do site;</p>

<p>Para enviar e-mails peri&oacute;dicos: O endere&ccedil;o de e-mail que voc&ecirc; fornecer para o processamento de pagamentos pode ser usado para enviar para voc&ecirc; informa&ccedil;&otilde;es ou atualiza&ccedil;&otilde;es com rela&ccedil;&atilde;o &agrave;s suas solicita&ccedil;&otilde;es e para recebimento ocasional de not&iacute;cias institucionais, atualiza&ccedil;&otilde;es e informa&ccedil;&otilde;es relacionadas ao produto ou servi&ccedil;o adquirido, etc.</p>

<p>Observa&ccedil;&atilde;o: Se, a qualquer momento, voc&ecirc; desejar cancelar sua inscri&ccedil;&atilde;o de recebimento de futuros e-mails, n&oacute;s inclu&iacute;mos instru&ccedil;&otilde;es detalhadas de cancelamento de inscri&ccedil;&atilde;o ao final de cada e-mail.</p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>4. Como armazenamos seus dados?</strong></span></p>

<p>N&oacute;s implementamos uma variedade de medidas de seguran&ccedil;a para manter a seguran&ccedil;a de suas informa&ccedil;&otilde;es pessoais quando voc&ecirc; envia um pagamento, faz login, envia ou acessa suas informa&ccedil;&otilde;es pessoais.</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:14px">5. Marketing</span></strong></p>

<p>Desejamos enviar a voc&ecirc; informa&ccedil;&otilde;es sobre servi&ccedil;os nossos que achamos que voc&ecirc; pode gostar.</p>

<p>Se voc&ecirc; concordou em receber marketing, voc&ecirc; sempre pode optar por sair em uma data posterior.</p>

<p>Voc&ecirc; tem o direito de, a qualquer momento, impedir que a Bico o contate para fins de marketing.</p>

<p>Se voc&ecirc; n&atilde;o deseja mais ser contatado para fins de marketing, altere as suas configura&ccedil;&otilde;es de notifica&ccedil;&atilde;o por e-mail em sua conta na plataforma, veja aqui orienta&ccedil;&otilde;es de como fazer.</p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>6. Quais s&atilde;o os seus direitos de prote&ccedil;&atilde;o de dados?</strong></span></p>

<p>A Bico gostaria de ter certeza de que voc&ecirc; est&aacute; totalmente ciente de todos os seus direitos de prote&ccedil;&atilde;o de dados. Cada usu&aacute;rio tem direito ao seguinte:</p>

<p>O direito de acesso: voc&ecirc; tem o direito de solicitar &agrave; Bico c&oacute;pias de seus dados pessoais. Podemos cobrar uma pequena taxa por este servi&ccedil;o.</p>

<p>O direito de retifica&ccedil;&atilde;o: voc&ecirc; tem o direito de solicitar que a Bico corrija qualquer informa&ccedil;&atilde;o que voc&ecirc; acredite estar incorreta. Voc&ecirc; tamb&eacute;m tem o direito de solicitar que a Bico preencha as informa&ccedil;&otilde;es que voc&ecirc; acredita estar incompletas.</p>

<p>O direito de apagar: voc&ecirc; tem o direito de solicitar que a Bico apague seus dados pessoais, sob certas condi&ccedil;&otilde;es.</p>

<p>O direito de restringir o processamento: voc&ecirc; tem o direito de solicitar que a Bico restrinja o processamento de seus dados pessoais, sob certas condi&ccedil;&otilde;es.</p>

<p>O direito de se opor ao processamento: voc&ecirc; tem o direito de se opor ao processamento de seus dados pessoais pela plataforma, sob certas condi&ccedil;&otilde;es.</p>

<p>O direito &agrave; portabilidade dos dados: voc&ecirc; tem o direito de solicitar que a Bico transfira os dados que coletamos para outra organiza&ccedil;&atilde;o, ou diretamente para voc&ecirc;, sob certas condi&ccedil;&otilde;es.</p>

<p>Direito de n&atilde;o ser submetido a decis&otilde;es automatizadas: o titular dos dados tem direito a solicitar a revis&atilde;o de decis&otilde;es tomadas unicamente com base em tratamento automatizado de dados pessoais que afetem seus interesses, inclu&iacute;das as decis&otilde;es destinadas a definir o seu perfil pessoal, profissional, de consumo e de cr&eacute;dito ou os aspectos de sua personalidade.</p>

<p>Se voc&ecirc; efetuar uma solicita&ccedil;&atilde;o, temos um m&ecirc;s para responder. Se voc&ecirc; deseja exercer algum desses direitos, entre em contato conosco pelo nosso e-mail: seguranca@workfree.com.br.</p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>7. O que s&atilde;o cookies?</strong></span></p>

<p>Cookies s&atilde;o pequenos arquivos que um site ou seu provedor de servi&ccedil;o transfere para o disco r&iacute;gido do seu computador atrav&eacute;s de seu navegador Web (se voc&ecirc; permitir). Esses arquivos permitem que os sites ou sistemas de prestadores de servi&ccedil;os reconhe&ccedil;am o seu browser e capturem e lembrem de certas informa&ccedil;&otilde;es.</p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>8. Como usamos cookies?</strong></span></p>

<p>Usamos cookies para nos ajudar a lembrar e processar seus pagamentos, entender e guardar as suas prefer&ecirc;ncias para futuras visitas e compilar dados agregados sobre o tr&aacute;fego e a intera&ccedil;&atilde;o no site, para podermos oferecer um site e ferramentas melhores no futuro. Poderemos contratar prestadores de servi&ccedil;os de terceiros para nos ajudar a compreender melhor os nossos visitantes do site. Esses prestadores de servi&ccedil;os n&atilde;o est&atilde;o autorizados a usar as informa&ccedil;&otilde;es coletadas em nosso nome, exceto para nos ajudar a conduzir e melhorar o nosso neg&oacute;cio.</p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>9. Que tipos de cookies usamos?</strong></span></p>

<p>Existem v&aacute;rios tipos diferentes de cookies, no entanto, nosso site usa:</p>

<p>Funcionalidade: usamos cookies para que possamos reconhec&ecirc;-lo em nossa plataforma e lembrar suas prefer&ecirc;ncias previamente selecionadas. Isso pode incluir o idioma de sua prefer&ecirc;ncia e o local em que est&aacute;. Uma combina&ccedil;&atilde;o de cookies prim&aacute;rios e de terceiros &eacute; usada.</p>

<p>Publicidade: usamos cookies para coletar informa&ccedil;&otilde;es sobre sua visita a nossa plataforma, o conte&uacute;do que voc&ecirc; visualizou, os links que voc&ecirc; seguiu e informa&ccedil;&otilde;es sobre seu navegador, dispositivo e endere&ccedil;o IP. A Bico &agrave;s vezes compartilha alguns aspectos limitados desses dados com terceiros para fins publicit&aacute;rios. Tamb&eacute;m podemos compartilhar dados online coletados por meio de cookies com nossos parceiros de publicidade. Isso significa que quando voc&ecirc; visita outro site, pode ser exibida publicidade com base em seus padr&otilde;es de navega&ccedil;&atilde;o em nosso site.</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:14px">10. Como gerenciar seus cookies</span></strong></p>

<p>Voc&ecirc; pode configurar seu navegador para n&atilde;o aceitar cookies, e o site acima informa como remover cookies de seu navegador. No entanto, em alguns casos, alguns dos recursos do nosso site podem n&atilde;o funcionar como resultado.</p>

<p><br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>11. Pol&iacute;ticas de privacidade de outros sites</strong></span></p>

<p>Ocasionalmente, a nosso crit&eacute;rio, podemos incluir ou oferecer produtos ou servi&ccedil;os de terceiros em nosso site. Esses sites de terceiros t&ecirc;m pol&iacute;ticas de privacidade separadas e independentes. N&atilde;o temos, portanto, qualquer responsabilidade ou obriga&ccedil;&atilde;o com rela&ccedil;&atilde;o ao conte&uacute;do e atividades desses sites vinculados. No entanto, buscamos proteger a integridade do nosso site e agradecemos qualquer feedback acerca desses sites.</p>

<p>Nossa pol&iacute;tica de privacidade e prote&ccedil;&atilde;o de dados se aplica apenas ao nosso site, portanto, se voc&ecirc; clicar em um link para outro site, dever&aacute; ler a pol&iacute;tica de privacidade.</p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>12. Mudan&ccedil;as em nossa pol&iacute;tica de privacidade</strong></span></p>

<p>Se decidirmos modificar nossas pol&iacute;ticas de privacidade, publicaremos as altera&ccedil;&otilde;es realizadas nesta p&aacute;gina e/ou atualizaremos a data de modifica&ccedil;&atilde;o da Pol&iacute;tica de Privacidade e Prote&ccedil;&atilde;o de Dados.</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:14px">13. Como entrar em contato conosco</span></strong></p>

<p>Se voc&ecirc; tiver quaisquer perguntas com rela&ccedil;&atilde;o &agrave; nossa pol&iacute;tica de privacidade e prote&ccedil;&atilde;o de dados, os dados que mantemos sobre voc&ecirc;, ou se gostaria de exercer um de seus direitos de prote&ccedil;&atilde;o de dados, n&atilde;o hesite em nos contatar.<br />
&nbsp;</p>

<address>&nbsp;</address>
