<p><span style="font-size:18px"><strong>TERMO DE USO</strong></span></p>

<p><span style="font-size:14px"><strong>1. OBJETO</strong></span><br />
<br />
&nbsp;</p>

<p>a. Os servi&ccedil;os objeto dos presentes Termos consistem em:</p>

<p>i. Permitir aos Contratantes que utilizem a Plataforma para livremente e sem direcionamento ou interfer&ecirc;ncia busquem or&ccedil;amentos dos Prestadores de Servi&ccedil;os.</p>

<p>ii. Viabilizar o contato direto entre Prestadores de Servi&ccedil;os e Contratantes interessados em adquirir os Servi&ccedil;os, por meio da divulga&ccedil;&atilde;o das informa&ccedil;&otilde;es de contato de uma parte &agrave; outra.</p>

<p>b. O Bico, portanto, possibilita que os Usu&aacute;rios contatem-se e negociem entre si diretamente, sem intervir no contato, na negocia&ccedil;&atilde;o ou na efetiva&ccedil;&atilde;o dos neg&oacute;cios, n&atilde;o sendo, nesta qualidade, fornecedor de quaisquer Servi&ccedil;os anunciados por seus Usu&aacute;rios na Plataforma.</p>

<p>c. Na qualidade de classificado de Servi&ccedil;os, o Bico n&atilde;o imp&otilde;e ou interfere em qualquer negocia&ccedil;&atilde;o sobre condi&ccedil;&atilde;o, valor, qualidade, forma ou prazo da contrata&ccedil;&atilde;o entre os Contratantes e Prestadores de Servi&ccedil;os, tampouco garante a qualidade, ou entrega dos Servi&ccedil;os contratados entre os Usu&aacute;rios.</p>

<p>d. Ao se cadastrar, o Usu&aacute;rio poder&aacute; utilizar todos os servi&ccedil;os disponibilizados na Plataforma dispon&iacute;veis para sua regi&atilde;o, declarando, para tanto, ter lido, compreendido e aceitado estes Termos.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>2. CAPACIDADE PARA CADASTRAR-SE:</strong></span><br />
<br />
&nbsp;</p>

<p>a. Os servi&ccedil;os do Bico est&atilde;o dispon&iacute;veis para pessoas f&iacute;sicas e pessoas jur&iacute;dicas regularmente inscritas nos cadastros nos &oacute;rg&atilde;os p&uacute;blicos federais, estaduais e at&eacute; municipais, que tenham capacidade legal para contrat&aacute;-los. N&atilde;o podem utiliz&aacute;-los, assim, pessoas que n&atilde;o gozem dessa capacidade, inclusive menores de idade ou pessoas que tenham sido inabilitadas no Bico, tempor&aacute;ria ou definitivamente. Ficam, desde j&aacute;, os Usu&aacute;rios advertidos das san&ccedil;&otilde;es legais cominadas pela legisla&ccedil;&atilde;o brasileira.</p>

<p>b. &Eacute; vedada a cria&ccedil;&atilde;o de mais de um cadastro por Usu&aacute;rio. Em caso de multiplicidade de cadastros elaborados por um s&oacute; Usu&aacute;rio, o Bico reserva-se o direito de, a seu exclusivo crit&eacute;rio e sem necessidade de pr&eacute;via anu&ecirc;ncia ou comunica&ccedil;&atilde;o aos Usu&aacute;rios, inabilitar todos os cadastros existentes e impedir eventuais cadastros futuros vinculados a estes. Somente ser&aacute; permitida a vincula&ccedil;&atilde;o de um cadastro por CPF, telefone ou e-mail, n&atilde;o podendo haver duplicidade de dados em nenhum caso.</p>

<p>c. O Bico pode unilateralmente excluir o cadastro dos Usu&aacute;rios quando verificado que a conduta do Usu&aacute;rio &eacute; ou ser&aacute; prejudicial ou ofensiva a outros Usu&aacute;rios, a plataforma e seus funcion&aacute;rios ou a terceiros.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>3. CADASTRO</strong></span><br />
<br />
&nbsp;</p>

<p>a. &Eacute; necess&aacute;rio o preenchimento completo de todos os dados pessoais exigidos pelo Bico no momento do cadastramento, para que o Usu&aacute;rio esteja habilitado a utilizar a Plataforma.</p>

<p>b. &Eacute; de exclusiva responsabilidade dos Usu&aacute;rios fornecer, atualizar e garantir a veracidade dos dados cadastrais, n&atilde;o cabendo ao Bico qualquer tipo de responsabilidade civil e/ou criminal resultante de dados inver&iacute;dicos, incorretos ou incompletos fornecidos pelos Usu&aacute;rios.</p>

<p>c. O Bico se reserva o direito de utilizar todos os meios v&aacute;lidos e poss&iacute;veis para identificar seus Usu&aacute;rios, bem como solicitar dados adicionais e documentos que entenda serem pertinentes, a fim de conferir os dados pessoais informados</p>

<p>d. Caso o Bico considere um cadastro, ou as informa&ccedil;&otilde;es nele contidas, suspeito de conter dados err&ocirc;neos ou inver&iacute;dicos, se reserva o direito de suspender, tempor&aacute;ria ou definitivamente, o Usu&aacute;rio respons&aacute;vel pelo cadastramento, assim como impedir e bloquear qualquer publicidade ou cadastro de Servi&ccedil;os, bem como cancelar an&uacute;ncios publicados por este, sem preju&iacute;zo de outras medidas que entenda necess&aacute;rias e oportunas. No caso de aplica&ccedil;&atilde;o de quaisquer destas san&ccedil;&otilde;es, n&atilde;o assistir&aacute; aos Usu&aacute;rios direito a qualquer tipo de indeniza&ccedil;&atilde;o ou ressarcimento por perdas e danos, lucros cessantes ou danos morais.</p>

<p>e. O Usu&aacute;rio acessar&aacute; sua conta por meio de apelido (login) e senha, comprometendo-se a n&atilde;o informar a terceiros esses dados, responsabilizando-se integralmente pelo uso que deles seja feito.</p>

<p>f. O Usu&aacute;rio compromete-se a notificar o Bico imediatamente, por meio dos canais de contato mantidos na Plataforma, a respeito de qualquer uso n&atilde;o autorizado de sua conta. O Usu&aacute;rio ser&aacute; o &uacute;nico respons&aacute;vel pelas opera&ccedil;&otilde;es efetuadas em sua conta, uma vez que o acesso s&oacute; ser&aacute; poss&iacute;vel mediante a utiliza&ccedil;&atilde;o de senha de seu exclusivo conhecimento.</p>

<p>g. Em nenhuma hip&oacute;tese ser&aacute; permitida a cess&atilde;o, venda, aluguel ou outra forma de transfer&ecirc;ncia da conta. N&atilde;o se permitir&aacute;, ainda, a cria&ccedil;&atilde;o de novos cadastros por pessoas cujos cadastros originais tenham sido cancelados por infra&ccedil;&otilde;es &agrave;s pol&iacute;ticas do Bico.</p>

<p>h. O apelido que o Usu&aacute;rio utiliza no Bico n&atilde;o poder&aacute; guardar semelhan&ccedil;a com outros usu&aacute;rios. Tampouco poder&aacute; ser utilizado qualquer apelido que insinue ou sugira que os Servi&ccedil;os ser&atilde;o prestados pela plataforma ou que fa&ccedil;am parte de promo&ccedil;&otilde;es suas. Tamb&eacute;m ser&atilde;o eliminados apelidos considerados ofensivos ou que infrinjam a legisla&ccedil;&atilde;o brasileira em vigor.</p>

<p>i. N&atilde;o &eacute; permitido aos Prestadores se apresentarem aos Contratantes como funcion&aacute;rios, Prestadores de servi&ccedil;o ou contratados do Bico. Os Contratantes entendem que os Prestadores n&atilde;o s&atilde;o subordinados ao Bico, de nenhuma forma.</p>

<p>i. O Bico se reserva o direito de, unilateralmente e sem pr&eacute;vio aviso, recusar qualquer solicita&ccedil;&atilde;o de cadastro e de cancelar um cadastro previamente aceito.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>4. MODIFICA&Ccedil;&Otilde;ES DOS TERMOS E CONDI&Ccedil;&Otilde;ES GERAIS</strong></span><br />
<br />
&nbsp;</p>

<p>a. O Bico poder&aacute; alterar, a qualquer tempo e a seu &uacute;nico e exclusivo crit&eacute;rio, estes Termos.</p>

<p>Os novos Termos entrar&atilde;o em vigor 10 (dez) dias depois de publicados na Plataforma. No prazo de 5 (cinco) dias contados a partir da publica&ccedil;&atilde;o das modifica&ccedil;&otilde;es, o Usu&aacute;rio dever&aacute; informar, por e-mail, sua discord&acirc;ncia acerca dos termos alterados. Nesse caso, o v&iacute;nculo contratual deixar&aacute; de existir, desde que n&atilde;o haja d&eacute;bito em aberto. N&atilde;o havendo manifesta&ccedil;&atilde;o no prazo estipulado, entender-se-&aacute; que o Usu&aacute;rio aceitou tacitamente os novos Termos, e o contrato continuar&aacute; vigente entre as partes.</p>

<p>i. As altera&ccedil;&otilde;es n&atilde;o vigorar&atilde;o em rela&ccedil;&atilde;o a negocia&ccedil;&otilde;es entre Prestador e Contratante j&aacute; iniciados ao tempo em que tais altera&ccedil;&otilde;es sejam publicadas. Apenas para estes, os Termos valer&atilde;o com a reda&ccedil;&atilde;o anterior.</p>

<p>b. Os servi&ccedil;os oferecidos pelo Bico poder&atilde;o ser diferentes para cada regi&atilde;o do pa&iacute;s. Estes Termos dever&atilde;o ser interpretados de acordo com a regi&atilde;o em que foi efetuado o cadastro do Prestador.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>5. PRIVACIDADE DA INFORMA&Ccedil;&Atilde;O</strong></span><br />
<br />
&nbsp;</p>

<p>a. Todas as informa&ccedil;&otilde;es ou os dados pessoais prestados pelo Usu&aacute;rio do Bico s&atilde;o armazenados em servidores ou meios magn&eacute;ticos de alta seguran&ccedil;a.</p>

<p>b. O Bico tomar&aacute; todas as medidas poss&iacute;veis para manter a confidencialidade e a seguran&ccedil;a descritas nesta cl&aacute;usula, mas n&atilde;o ser&aacute; respons&aacute;vel por preju&iacute;zo que possa ser derivado da viola&ccedil;&atilde;o dessas medidas por parte de terceiros que utilizem de meios indevidos, fraudulentos ou ilegais para acessar as informa&ccedil;&otilde;es armazenadas nos servidores ou nos bancos de dados utilizados pela plataforma.</p>

<p>c. O Bico n&atilde;o tem acesso ao conte&uacute;do das liga&ccedil;&otilde;es ou comunica&ccedil;&otilde;es entre os Usu&aacute;rios.</p>

<p>d. A plataforma, por motivos legais, manter&aacute; em seu banco de dados todas as informa&ccedil;&otilde;es coletadas dos Usu&aacute;rios caso necess&aacute;rio, os direitos do titular podem ser solicitados por meio de um dos canais de atendimento.</p>

<p>e. O apelido e a senha de cada Usu&aacute;rio servem para garantir a privacidade e a sua seguran&ccedil;a. O Bico recomenda a seus Usu&aacute;rios que n&atilde;o compartilhem essas informa&ccedil;&otilde;es com ningu&eacute;m. A plataforma n&atilde;o se responsabiliza por danos ou preju&iacute;zos causados ao Usu&aacute;rio pelo compartilhamento dessas informa&ccedil;&otilde;es.</p>

<p>f. Toda informa&ccedil;&atilde;o prestada pelos Usu&aacute;rios ao Bico &eacute; protegida por empresas especializadas.</p>

<p>g. A plataforma segue os padr&otilde;es de seguran&ccedil;a comumente utilizados pelas empresas que trabalham com transmiss&atilde;o e reten&ccedil;&atilde;o de dados para garantir a seguran&ccedil;a de seus Usu&aacute;rios. No entanto, nenhum m&eacute;todo de transmiss&atilde;o ou reten&ccedil;&atilde;o de dados eletr&ocirc;nicos &eacute; plenamente seguro e pode estar sujeito a ataques externos. Assim, apesar de utilizar todos os meios poss&iacute;veis e adequados, a plataforma n&atilde;o pode garantir a absoluta seguran&ccedil;a das informa&ccedil;&otilde;es prestadas.</p>

<p>h. O Bico coleta e guarda todas as informa&ccedil;&otilde;es prestadas por seus usu&aacute;rios durante a utiliza&ccedil;&atilde;o de sua Plataforma, incluindo no momento do cadastramento, para uso pr&oacute;prio e de seus parceiros comerciais.</p>

<p>i. O nome, e-mail e outros dados dos Usu&aacute;rios poder&atilde;o ser utilizados para o envio de notifica&ccedil;&otilde;es, informa&ccedil;&otilde;es sobre a conta ou Servi&ccedil;os prestados, avisos sobre viola&ccedil;&otilde;es ao Termo e outras comunica&ccedil;&otilde;es que o Bico considerar necess&aacute;rias. Os Usu&aacute;rios poder&atilde;o requisitar a sua exclus&atilde;o de sua lista de envio de mensagens (mailing).</p>

<p>j. A plataforma prestar&aacute; todas as informa&ccedil;&otilde;es requisitadas por &oacute;rg&atilde;os p&uacute;blicos, desde que devidamente justificadas e compat&iacute;veis com a lei em vigor.</p>

<p>k. O Bico utiliza cookies e softwares de monitoramento de seus Usu&aacute;rios para prover a seus Usu&aacute;rios a melhor navega&ccedil;&atilde;o poss&iacute;vel, baseado em suas necessidades, e para pesquisas internas. Esses cookies n&atilde;o coletam informa&ccedil;&otilde;es pessoais, apenas informam prefer&ecirc;ncias de uso e de navega&ccedil;&atilde;o de cada Usu&aacute;rio, al&eacute;m de prover o Bico estat&iacute;sticas e dados para aprimorar seus servi&ccedil;os.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>6. SERVI&Ccedil;OS E AN&Uacute;NCIOS E OR&Ccedil;AMENTOS PROIBIDOS</strong></span><br />
<br />
&nbsp;</p>

<p>a. O Bico &eacute; uma Plataforma de classificados online de Servi&ccedil;os, estando proibida a veicula&ccedil;&atilde;o de qualquer an&uacute;ncio ou pedido de or&ccedil;amento de venda, aluguel, troca ou qualquer forma de transfer&ecirc;ncia de posse ou propriedade de qualquer bem m&oacute;vel ou im&oacute;vel.</p>

<p>b. Est&atilde;o proibidas tamb&eacute;m a veicula&ccedil;&atilde;o de an&uacute;ncios de servi&ccedil;os ilegais de acordo com a legisla&ccedil;&atilde;o vigente ou que possam ser considerados ofensivos a terceiros.</p>

<p>c. O Bico excluir&aacute;, unilateralmente e sem qualquer comunica&ccedil;&atilde;o pr&eacute;via, aquele Usu&aacute;rio que desrespeitar as regras contidas nesta se&ccedil;&atilde;o.</p>

<p>d. O Bico n&atilde;o realiza uma curadoria pr&eacute;via dos an&uacute;ncios veiculados na Plataforma.</p>

<p>d. Qualquer Usu&aacute;rio ou pessoa f&iacute;sica ou jur&iacute;dica que se sentir ofendido por qualquer an&uacute;ncio veiculado na Plataforma poder&aacute; requisitar ao Bico que exclua aquele an&uacute;ncio da Plataforma, pelos seus canais de atendimento.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>7. SISTEMA DE QUALIFICA&Ccedil;&Atilde;O DOS PRESTADORES</strong></span><br />
<br />
&nbsp;</p>

<p>a. Os Prestadores aceitam e se submetem ao sistema de qualifica&ccedil;&atilde;o adotado por Bico.</p>

<p>b. Os Prestadores concordam que o Bico poder&aacute; cancelar, excluir ou suspender por tempo indeterminado cadastros que apresentem qualifica&ccedil;&otilde;es negativas de forma reiterada.</p>

<p>c. N&atilde;o assistir&aacute; aos Prestadores qualquer tipo de indeniza&ccedil;&atilde;o ou ressarcimento por perdas e danos, lucros cessantes e danos morais, em raz&atilde;o da qualifica&ccedil;&atilde;o atribu&iacute;da aos Servi&ccedil;os anunciados.</p>

<p>d. Tendo em vista que os coment&aacute;rios postados s&atilde;o opini&otilde;es pessoais dos Usu&aacute;rios, estes ser&atilde;o respons&aacute;veis pelas opini&otilde;es publicadas na Plataforma, seja perante o Bico, perante os Prestadores, terceiros, &oacute;rg&atilde;os governamentais ou demais Usu&aacute;rios do site, isentando a plataforma de qualquer responsabilidade relativa &agrave; veicula&ccedil;&atilde;o dos coment&aacute;rios.</p>

<p>i. O Bico n&atilde;o exclu&iacute;ra coment&aacute;rios ou qualifica&ccedil;&otilde;es sobre os Prestadores. Somente o Usu&aacute;rio respons&aacute;vel pelo coment&aacute;rio ou qualifica&ccedil;&atilde;o poder&aacute; remover ou alterar os coment&aacute;rios ou qualifica&ccedil;&otilde;es.</p>

<p>e. O Bico se reserva o direito de excluir unilateralmente e a seu exclusivo crit&eacute;rio, coment&aacute;rios que contenham e cadastros de Usu&aacute;rios que pratiquem:</p>

<p>i. Ofensa &agrave; honra, imagem, reputa&ccedil;&atilde;o e dignidade de terceiros;</p>

<p>ii. Pornografia, pedofilia, e outras modalidades de satisfa&ccedil;&atilde;o sexual;</p>

<p>iii. Racismo ou discrimina&ccedil;&atilde;o de qualquer natureza;</p>

<p>iv. Bullying, Stalking ou qualquer outra esp&eacute;cie de constrangimento ilegal ou ass&eacute;dio;</p>

<p>v. Manifesta viola&ccedil;&atilde;o a direito autoral ou direito de imagem;</p>

<p>vi. Utiliza&ccedil;&atilde;o de marcas, s&iacute;mbolos, logotipos ou emblemas de terceiros;</p>

<p>vii. Instiga&ccedil;&atilde;o ou apologia &agrave; pr&aacute;tica de crimes, como tr&aacute;fico ou uso de entorpecentes, estupro, homic&iacute;dio, estelionato, dentre outros;</p>

<p>viii. Erros ou suspeita de equ&iacute;vocos.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>8. OBRIGA&Ccedil;&Otilde;ES DOS USU&Aacute;RIOS</strong></span><br />
<br />
&nbsp;</p>

<p>a. O Prestador deve ter capacidade legal para prestar o Servi&ccedil;o.</p>

<p>b. Em virtude de a plataforma n&atilde;o figurar como parte nas transa&ccedil;&otilde;es de contrata&ccedil;&atilde;o dos Servi&ccedil;os que se realizam entre os Usu&aacute;rios, a responsabilidade por todas as obriga&ccedil;&otilde;es delas decorrentes, sejam fiscais, trabalhistas, consumeristas ou de qualquer outra natureza, ser&aacute; exclusivamente do Contratante, do Prestador ou de ambos, conforme o caso. Na hip&oacute;tese de interpela&ccedil;&atilde;o judicial que tenha como R&eacute;u o Bico, cujos fatos fundem-se em a&ccedil;&otilde;es do Prestador, este ser&aacute; chamado ao processo, devendo arcar com todos os &ocirc;nus que da&iacute; decorram, incluindo despesas com taxas, emolumentos, acordos, honor&aacute;rios advocat&iacute;cios, entre outros. Por n&atilde;o figurar como parte nas transa&ccedil;&otilde;es que se realizam entre os Usu&aacute;rios, a plataforma tamb&eacute;m n&atilde;o pode obrigar os Usu&aacute;rios a honrarem suas obriga&ccedil;&otilde;es ou a efetivarem a negocia&ccedil;&atilde;o.</p>

<p>c. O Prestador dever&aacute; ter em mente que, na medida em que atue como um fornecedor de servi&ccedil;os, sua oferta o vincula, nos termos do artigo 30 do C&oacute;digo de Defesa do Consumidor e do artigo 429 do C&oacute;digo Civil, cujo cumprimento poder&aacute; ser exigido judicialmente pelo Contratante</p>

<p><br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>9. PR&Aacute;TICAS VEDADAS</strong></span><br />
<br />
&nbsp;</p>

<p>a. &Eacute; terminantemente vedado aos Usu&aacute;rios, entre outras atitudes previstas nestes Termos, manipular, direta ou indiretamente, os pre&ccedil;os dos Servi&ccedil;os anunciados.</p>

<p>b. &Eacute; proibido aos Prestadores divulgar o mesmo an&uacute;ncio, conte&uacute;do, item ou servi&ccedil;o em mais de uma categoria e/ou de forma repetida. A plataforma se reserva o direito de excluir an&uacute;ncios ou servi&ccedil;os repetidos, assim como suspender ou excluir o cadastro do Prestador respons&aacute;vel pela duplicidade.</p>

<p>c. Os Usu&aacute;rios n&atilde;o poder&atilde;o:</p>

<p>(i) Obter, guardar, divulgar, comercializar e/ou utilizar dados pessoais sobre outros Usu&aacute;rios para fins comerciais ou il&iacute;citos;</p>

<p>(ii) Usar meios autom&aacute;ticos, incluindo spiders, rob&ocirc;s, crawlers, ferramentas de capta&ccedil;&atilde;o de dados ou similares para baixar dados do site (exceto ferramentas de busca na Internet e arquivos p&uacute;blicos n&atilde;o comerciais);</p>

<p>(iii) Burlar, ou tentar burlar, de qualquer forma que seja, o sistema, mecanismo e/ou a Plataforma do site; e (iv) incluir meios de contato como telefone, e-mail, endere&ccedil;o e outras formas de comunica&ccedil;&atilde;o nas ofertas.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>10. VIOLA&Ccedil;&Atilde;O NO SISTEMA OU DA BASE DE DADOS</strong></span><br />
<br />
&nbsp;</p>

<p>a. &Eacute; vedada a utiliza&ccedil;&atilde;o de dispositivo, software ou outro recurso que possa interferir nas atividades e nas opera&ccedil;&otilde;es de Plataforma, bem como nos an&uacute;ncios, nas descri&ccedil;&otilde;es, nas contas ou em seus bancos de dados. Qualquer intromiss&atilde;o, tentativa de, ou atividade que viole ou contrarie as leis de direito de propriedade intelectual e as proibi&ccedil;&otilde;es estipuladas nestes Termos tornar&aacute; o respons&aacute;vel pass&iacute;vel de sofrer os efeitos das a&ccedil;&otilde;es legais pertinentes, bem como das san&ccedil;&otilde;es aqui previstas, sendo ainda respons&aacute;vel por indenizar o Bico ou seus Usu&aacute;rios por eventuais danos causados.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>11. SAN&Ccedil;&Otilde;ES</strong></span><br />
<br />
&nbsp;</p>

<p>a. Sem preju&iacute;zo de outras medidas, a plataforma poder&aacute;, a seu exclusivo crit&eacute;rio e sem necessidade de pr&eacute;via anu&ecirc;ncia dos ou comunica&ccedil;&atilde;o aos Usu&aacute;rios, advertir, suspender ou cancelar, tempor&aacute;ria ou permanentemente, o cadastro ou os an&uacute;ncios do Usu&aacute;rio, podendo aplicar san&ccedil;&atilde;o que impacte negativamente em sua reputa&ccedil;&atilde;o, a qualquer tempo, iniciando as a&ccedil;&otilde;es legais cab&iacute;veis e suspendendo a presta&ccedil;&atilde;o de seus servi&ccedil;os, se:</p>

<p>(i) o Usu&aacute;rio n&atilde;o cumprir qualquer dispositivo destes Termos e as demais pol&iacute;ticas do Bico;</p>

<p>(ii) descumprir com seus deveres de Usu&aacute;rio;</p>

<p>(iii) praticar atos delituosos ou criminais;</p>

<p>(iv) n&atilde;o puder ser verificada a identidade do Usu&aacute;rio, qualquer informa&ccedil;&atilde;o fornecida por ele esteja incorreta ou se as informa&ccedil;&otilde;es prestadas levarem a crer que o cadastro seja falso ou de pessoa diversa;</p>

<p>(v) Bico entender que os an&uacute;ncios ou qualquer outra atitude do Usu&aacute;rio tenham causado algum dano a terceiros ou tenham a potencialidade de assim o fazer.</p>

<p>b. Nos casos de suspens&atilde;o, tempor&aacute;ria ou permanente, do cadastro do Prestador, todos os an&uacute;ncios ativos e as ofertas realizadas ser&atilde;o automaticamente canceladas.</p>

<p>c. A plataforma se reserva o direito de, a qualquer momento e a seu exclusivo crit&eacute;rio, solicitar o envio de documenta&ccedil;&atilde;o pessoal ou de qualquer documento que comprove a veracidade das informa&ccedil;&otilde;es cadastrais.</p>

<p>i. Em caso de requisi&ccedil;&atilde;o de documentos, quaisquer prazos determinados nestes Termos s&oacute; ser&atilde;o aplic&aacute;veis a partir da data de recebimento dos documentos solicitados ao Prestador por Bico.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>12. RESPONSABILIDADES</strong></span><br />
<br />
&nbsp;</p>

<p>a. O Bico n&atilde;o se responsabiliza por v&iacute;cios ou defeitos t&eacute;cnicos e/ou operacionais oriundos do sistema do Usu&aacute;rio ou de terceiros.</p>

<p>b. A plataforma n&atilde;o &eacute; respons&aacute;vel pela entrega dos Servi&ccedil;os anunciados pelos Prestadores na Plataforma.</p>

<p>c. O Bico tampouco se responsabiliza pela exist&ecirc;ncia, quantidade, qualidade, estado, integridade ou legitimidade dos Servi&ccedil;os oferecidos ou contratados pelos Usu&aacute;rios, assim como pela capacidade para contratar dos Usu&aacute;rios ou pela veracidade dos dados pessoais por eles fornecidos. A plataforma, por n&atilde;o ser propriet&aacute;ria, depositante ou detentora dos produtos oferecidos, n&atilde;o outorga garantia por v&iacute;cios ocultos ou aparentes nas negocia&ccedil;&otilde;es entre os Usu&aacute;rios. Cada Usu&aacute;rio conhece e aceita ser o &uacute;nico respons&aacute;vel pelos Servi&ccedil;os que anuncia ou pelas ofertas que realiza.</p>

<p>d. O Bico n&atilde;o ser&aacute; respons&aacute;vel por ressarcir seus Usu&aacute;rios por quaisquer gastos com liga&ccedil;&otilde;es telef&ocirc;nicas, pacotes de dados, SMS, mensagens, e-mails, correspond&ecirc;ncia ou qualquer outro valor despendido pelo Usu&aacute;rio em raz&atilde;o de contato com o Bico ou quaisquer outros Usu&aacute;rio, por qualquer motivo que o seja.</p>

<p>e. O Bico n&atilde;o poder&aacute; ser responsabilizada pelo efetivo cumprimento das obriga&ccedil;&otilde;es assumidas pelos Usu&aacute;rios. Os Usu&aacute;rios reconhecem e aceitam que, ao realizar negocia&ccedil;&otilde;es com outros Usu&aacute;rios, fazem-no por sua conta e risco, reconhecendo o Bico como mero fornecedor de servi&ccedil;os de disponibiliza&ccedil;&atilde;o de espa&ccedil;o virtual para an&uacute;ncio dos Servi&ccedil;os ofertados por terceiros.</p>

<p>f. Em nenhum caso a plataforma ser&aacute; respons&aacute;vel pelo lucro cessante ou por qualquer outro dano e/ou preju&iacute;zo que o Usu&aacute;rio possa sofrer devido &agrave;s negocia&ccedil;&otilde;es realizadas ou n&atilde;o realizadas por meio de Plataforma, decorrentes da conduta de outros Usu&aacute;rios.</p>

<p>g. Por se tratar de negocia&ccedil;&otilde;es realizadas por meio eletr&ocirc;nico entre dois Usu&aacute;rios que n&atilde;o se conheciam previamente &agrave; negocia&ccedil;&atilde;o, o Bico recomenda que toda transa&ccedil;&atilde;o seja realizada com cautela e prud&ecirc;ncia.</p>

<p>h. Caso um ou mais usu&aacute;rios ou algum terceiro inicie qualquer tipo de reclama&ccedil;&atilde;o ou a&ccedil;&atilde;o legal contra outro ou outros Usu&aacute;rios, todos e cada um dos Usu&aacute;rios envolvidos nas reclama&ccedil;&otilde;es ou a&ccedil;&otilde;es eximem de toda responsabilidade do Bico e seus diretores, gerentes, empregados, agentes, oper&aacute;rios, representantes e procuradores.</p>

<p>i. A plataforma se reserva o direito de auxiliar e cooperar com qualquer autoridade judicial ou &oacute;rg&atilde;o governamental, podendo enviar informa&ccedil;&otilde;es cadastrais ou negociais de seus Usu&aacute;rios, quando considerar que seu aux&iacute;lio ou coopera&ccedil;&atilde;o sejam necess&aacute;rios para proteger seus Usu&aacute;rios, funcion&aacute;rios, colaboradores, administradores, s&oacute;cios ou qualquer pessoa que possa ser prejudicada pela a&ccedil;&atilde;o ou omiss&atilde;o combatida.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>13. ALCANCE DOS SERVI&Ccedil;OS</strong></span><br />
<br />
&nbsp;</p>

<p>a. Estes Termos n&atilde;o geram nenhum contrato de sociedade, de mandato, de franquia ou rela&ccedil;&atilde;o de trabalho entre a plataforma e o Usu&aacute;rio. O Usu&aacute;rio manifesta ci&ecirc;ncia de que o Bico n&atilde;o &eacute; parte de nenhuma transa&ccedil;&atilde;o realizada entre Usu&aacute;rios, nem possui controle algum sobre a qualidade, a seguran&ccedil;a ou a legalidade dos Servi&ccedil;os anunciados pelos Usu&aacute;rios, sobre a veracidade ou a exatid&atilde;o dos an&uacute;ncios elaborados pelos Usu&aacute;rios, e sobre a capacidade dos Usu&aacute;rios para negociar.</p>

<p>b. O Bico n&atilde;o pode assegurar o &ecirc;xito de qualquer transa&ccedil;&atilde;o realizada entre Usu&aacute;rios, tampouco verificar a identidade ou os dados pessoais dos Usu&aacute;rios. A plataforma n&atilde;o garante a veracidade da publica&ccedil;&atilde;o de terceiros que apare&ccedil;a em sua Plataforma e n&atilde;o ser&aacute; respons&aacute;vel pela correspond&ecirc;ncia ou por contratos que o Usu&aacute;rio realize com terceiros.</p>

<p>i. O Bico poder&aacute; oferecer aos Prestadores um servi&ccedil;o de confer&ecirc;ncia, para garantir a sua identidade e dados cadastrais. A plataforma poder&aacute; informar aos Contratantes quando esse servi&ccedil;o foi utilizado pelo Prestador.</p>

<p>ii. O Prestador que burlar o sistema de confer&ecirc;ncia a fim de receber vantagens il&iacute;citas ser&aacute; exclu&iacute;do da Plataforma e poder&atilde;o ser tomadas medidas judiciais cab&iacute;veis, especialmente de cunho criminal.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>14. PROBLEMAS DECORRENTES DO USO DO SISTEMA</strong></span><br />
<br />
&nbsp;</p>

<p>a. O Bico n&atilde;o se responsabiliza por qualquer dano, preju&iacute;zo ou perda sofridos pelo Usu&aacute;rio em raz&atilde;o de falhas em sua conex&atilde;o com a internet, com o seu provedor, no sistema, com o sistema de SMS, com a linha telef&ocirc;nica ou no servidor utilizados pelo Usu&aacute;rio, decorrentes de condutas de terceiros, caso fortuito ou for&ccedil;a maior.</p>

<p>b. O Bico n&atilde;o &eacute; respons&aacute;vel pela compatibilidade entre a sua Plataforma e hardwares de propriedade do Usu&aacute;rio. O Usu&aacute;rio dever&aacute; manter o seu equipamento atualizado e n&atilde;o poder&aacute; responsabilizar a plataforma, caso n&atilde;o tenha acesso aos equipamentos adequados.</p>

<p>c. O Bico tamb&eacute;m n&atilde;o ser&aacute; respons&aacute;vel por qualquer v&iacute;rus, trojan, malware, spyware ou qualquer software que possa danificar, alterar as configura&ccedil;&otilde;es ou infiltrar o equipamento do Usu&aacute;rio em decorr&ecirc;ncia do acesso, da utiliza&ccedil;&atilde;o ou da navega&ccedil;&atilde;o na internet, ou como consequ&ecirc;ncia da transfer&ecirc;ncia de dados, informa&ccedil;&otilde;es, arquivos, imagens, textos ou &aacute;udio.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>15. PROPRIEDADE INTELECTUAL E LINKS</strong></span><br />
<br />
&nbsp;</p>

<p>a. O uso comercial da express&atilde;o &ldquo;Bico&rdquo; como marca, nome empresarial ou nome de dom&iacute;nio, bem como os logos, marcas, ins&iacute;gnias, conte&uacute;do das telas relativas aos servi&ccedil;os da Plataforma e o conjunto de programas, bancos de dados, redes e arquivos que permitem que o Usu&aacute;rio acesse e use sua conta, s&atilde;o propriedade da plataforma e est&atilde;o protegidos pelas leis e pelos tratados internacionais de direito autoral, de marcas, de patentes, de modelos e de desenhos industriais. O uso indevido e a reprodu&ccedil;&atilde;o total ou parcial dos referidos conte&uacute;dos s&atilde;o proibidos, salvo com autoriza&ccedil;&atilde;o expressa do Bico.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>16. INDENIZA&Ccedil;&Atilde;O</strong></span><br />
<br />
&nbsp;</p>

<p>a. O Usu&aacute;rio indenizar&aacute; a plataforma, suas filiais, empresas controladas, controladores diretos ou indiretos, diretores, administradores, colaboradores, representantes e empregados, inclusive quanto a honor&aacute;rios advocat&iacute;cios, por qualquer demanda promovida por outros Usu&aacute;rios ou terceiros, decorrentes das atividades do primeiro na Plataforma, de quaisquer descumprimentos, por aquele, dos Termos e das demais pol&iacute;ticas do Bico ou, ainda, de qualquer viola&ccedil;&atilde;o, pelo Usu&aacute;rio, de lei ou de direitos de terceiros.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>17. LEGISLA&Ccedil;&Atilde;O APLIC&Aacute;VEL E FORO DE ELEI&Ccedil;&Atilde;O</strong></span></p>

<p><br />
a. Todos os itens destes Termos s&atilde;o regidos pelas leis vigentes na Rep&uacute;blica Federativa do Brasil. Para todos os assuntos referentes &agrave; interpreta&ccedil;&atilde;o, ao cumprimento ou a qualquer outro questionamento relacionado a estes Termos, as partes concordam em se submeter ao Foro da Comarca de S&atilde;o Paulo.<br />
<br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>18. SERVI&Ccedil;OS E AN&Uacute;NCIOS E OR&Ccedil;AMENTOS PROIBIDOS</strong></span><br />
<br />
&nbsp;</p>

<p>a. O Bico &eacute; uma Plataforma de classificados online de Servi&ccedil;os, estando proibida a veicula&ccedil;&atilde;o de qualquer an&uacute;ncio ou pedido de or&ccedil;amento de venda, aluguel, troca ou qualquer forma de transfer&ecirc;ncia de posse ou propriedade de qualquer bem m&oacute;vel ou im&oacute;vel.</p>

<p>b. Est&atilde;o proibidas tamb&eacute;m a veicula&ccedil;&atilde;o de an&uacute;ncios de servi&ccedil;os ilegais de acordo com a legisla&ccedil;&atilde;o vigente ou que possam ser considerados ofensivos a terceiros.</p>

<p>c. A plataforma excluir&aacute;, unilateralmente e sem qualquer comunica&ccedil;&atilde;o pr&eacute;via, aquele Usu&aacute;rio que desrespeitar as regras contidas nesta se&ccedil;&atilde;o.</p>

<p>i. O Bico n&atilde;o realiza uma curadoria pr&eacute;via dos an&uacute;ncios veiculados na Plataforma.</p>

<p>d. Qualquer Usu&aacute;rio ou pessoa f&iacute;sica ou jur&iacute;dica que se sentir ofendido por qualquer an&uacute;ncio veiculado na Plataforma poder&aacute; requisitar ao Bico que exclua aquele an&uacute;ncio de sua Plataforma, pelos seus canais de atendimento.<br />
<br />
&nbsp;</p>

<address>&nbsp;</address>
