
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Workfree | Conectamos os clientes aos melhores profissionais.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="assetsCaptura/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="assetsCaptura/css/animate.css">

    <link rel="stylesheet" href="assetsCaptura/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assetsCaptura/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assetsCaptura/css/magnific-popup.css">

    <link rel="stylesheet" href="assetsCaptura/css/aos.css">

    <link rel="stylesheet" href="assetsCaptura/css/ionicons.min.css">

    <link rel="stylesheet" href="assetsCaptura/css/flaticon.css">
    <link rel="stylesheet" href="assetsCaptura/css/icomoon.css">
    <link rel="stylesheet" href="assetsCaptura/css/style.css">
    <link rel="stylesheet" href="assetsCaptura/css/mobiledesk.css">
    <style>
            // Verificar o tamanho da tela e adicionar classe ao body
        if (window.matchMedia("(max-width: 768px)").matches) {
            document.body.classList.add("mobile");
        } else {
            document.body.classList.add("desktop");
        }
    </style>

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="">WorkFree</a>
        </div>
    </nav>


    <section class="ftco-section ftco-no-pb" id="resume-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-10 heading-section text-center ftco-animate">
                    <div class="text">
                        <h1 class="mb-12 mt-12 section-spacing" style="text-align: center; font-weight: 800; line-height: 1.2;">NUNCA FOI TÃO FÁCIL RECEBER CLIENTES NO SEU WHATSAPP DE FORMA <span style="font-weight: 800;color: #ffbd39;">100% GRATUITA</span></h1>
                        <p><a href="https://www.workfree.com.br/login" class="btn btn-primary py-3 px-4">QUERO RECEBER CLIENTES NO WHATSAPP</a></p>
                    </div>
                    <br /><br /><br /><br /><br /><br />
                </div>
            </div>
        </div>

    </section>


    <section class="ftco-section ftco-no-pb mb-5" id="resume-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-10 heading-section text-center ftco-animate">
                    <h1 class="big big-2 ">Workfree.</h1>
                    <h2 class="mb-4">Workfree</h2>
                    <div class="text">
                        <h3 class="section-spacing">Chega de procurar vagas de emprego e desempenhe sua função de forma autônoma com clientes procurando por você!</h3>
                        <p>Com a WorkFree, você recebe clientes pelo WhatsApp sem ficar caçando vagas de emprego.</p>
                        <p>Aqui não importa se você é marido de aluguel, diarista ou tem qualquer outro tipo de profissão, na WorkFree tem clientes esperando por você!</p>
                    </div>
                    <br />
                    <div class="text-center">
                        <img src="assetsCaptura/images/na_work.png" alt="Imagem ilustrativa" class="img-fluid">
                    </div>

                </div>
            </div>
        </div>

    </section>


    <section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
        <div class="container">
            <div class="row d-flex">
                <div class="text-center">
                    <img src="assetsCaptura/images/vantagens.png" alt="Imagem ilustrativa" class="img-fluid">
                </div>

            </div>
        </div>
    </section>


    <section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
        <div class="container">
            <div class="row d-flex">
                <div class="text-center">
                    <img src="assetsCaptura/images/funcionamento.png" alt="Imagem ilustrativa" class="img-fluid">
                    <p><a href="https://www.workfree.com.br/login" class="btn btn-primary py-3 px-4">QUERO RECEBER CLIENTES NO WHATSAPP</a></p>
                </div>

            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pb" id="resume-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-10 heading-section text-center ftco-animate">
                    <h1 class="big big-2">Avaiações.</h1>
                    <h2 class="mb-4">Avaliações</h2>
                    <br />
                    <br />
                    <div class="text-center">
                        <img src="assetsCaptura/images/testemunhal.png" alt="Imagem ilustrativa" class="img-fluid">
                        <p><a href="https://www.workfree.com.br/login" class="btn btn-primary py-3 px-4">QUERO RECEBER CLIENTES NO WHATSAPP</a></p>
                    </div>

                </div>
            </div>

            <section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
                <div class="container">
                    <div class="row d-flex">
                        <div class="text-center">
                        </div>

                    </div>
                </div>
            </section>
        </div>

    </section>

    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row mb-2">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="https://www.facebook.com/profile.php?id=100091413213376&mibextid=ZbWKwL"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://instagram.com/workfreeoficial?igshid=MzRlODBiNWFlZA=="><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos os direitos reservados <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://www.workfree.com.br" target="_blank">Workfree</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="assetsCaptura/js/jquery.min.js"></script>
    <script src="assetsCaptura/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="assetsCaptura/js/popper.min.js"></script>
    <script src="assetsCaptura/js/bootstrap.min.js"></script>
    <script src="assetsCaptura/js/jquery.easing.1.3.js"></script>
    <script src="assetsCaptura/js/jquery.waypoints.min.js"></script>
    <script src="assetsCaptura/js/jquery.stellar.min.js"></script>
    <script src="assetsCaptura/js/owl.carousel.min.js"></script>
    <script src="assetsCaptura/js/jquery.magnific-popup.min.js"></script>
    <script src="assetsCaptura/js/aos.js"></script>
    <script src="assetsCaptura/js/jquery.animateNumber.min.js"></script>
    <script src="assetsCaptura/js/scrollax.min.js"></script>

    <script src="assetsCaptura/js/main.js"></script>

</body>
</html>